[submodule "extensions/thirdparty/fx-gltf"]
	path = extensions/thirdparty/fx-gltf
	url = https://github.com/jessey-git/fx-gltf
[submodule "thirdparty/CDT"]
	path = thirdparty/CDT
	url = https://github.com/artem-ogre/CDT.git
